/** Add a comment at the beginning of your CSS styles with your name**/
/** Elliott Keefer advice style **/

.keefer-advice {
    background-color:#3e77e3;
    margin: 0 auto;
    text-align: center;
    
}

header a {
    margin-left: ;
    
}
